.movie_card
    align-self: start

.movie_link
    width: 600px
    height: 230px

    display: flex
    position: relative
    overflow: hidden

    border-radius: 40px

    background-color: red

.img_wrapp
    width: 170px
    height: 230px

    flex-shrink: 0
    background: blue

    img
        width: 100%
        height: 100%

        object-fit: cover
        display: block

.movie_info
    background-color: purple

.release_date
