@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
@use "../../styles/abstracts/mixins" as *
@use "../../styles/abstracts/breakpoints" as *
    
.logo_link
    @include flex-center

    gap: 1px

    &:hover div
        width: 110px

    div
        width: 0px
        padding: 1px 0

        @include flex-center

        gap: 3px
        overflow: hidden

        border-radius: 3px
        transition: .3s

        span
            color: $primary-color
            font-family: $logo-font

    @include responsive(map-get($breakpoints, "lg"))
        position: absolute
        left: 50%
        top: 125px
        transform: translateX(-50%)

.logo
    width: 35px
    height: 35px

.selected
    div
        width: 110px
