@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
    
.logo_link
        @include flex-center

        gap: 1px

        &:hover div
            width: 110px

        div
            width: 0px
            padding: 1px 0

            @include flex-center

            gap: 3px
            overflow: hidden

            border-radius: 3px
            transition: .3s

            span
                color: $primary-color
                font-family: $logo-font

.logo
    width: 35px
    height: 35px
