@use "../../../styles/abstracts/mixins" as *
@use "../../../styles/abstracts/variables" as *
@use "../../../styles/abstracts/breakpoints" as *
@use "sass:map"

.loading
  @include responsive(map.get($breakpoints, "lg"))
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

.card_loading
  width: 1000px
  height: 450px

  margin: 40px 0 0 0
  padding: 100px 0px 0px 130px

  position: relative

  border-radius: 50px
  background: #080808

  @include responsive(map.get($breakpoints, "lg"))
    width: 90%
    height: 700px
    padding: 0px
    border-radius: 20px

.button_loading
  width: 30px
  height: 30px

  position: absolute
  transform: translateY(-50%)

  background-color: #363434

  @include responsive(map.get($breakpoints, "lg"))
    width: 55px
    height: 55px

  &:first-child
    top: 50%
    left: 30px
    
    @include border-radius(left)

    @include responsive(map.get($breakpoints, "lg"))
      top: 65%

  &:last-child
    top: 50%
    right: 30px

    @include border-radius(right)

    @include responsive(map.get($breakpoints, "lg"))
      top: 65%

.data_loading
  width: 500px

  @include responsive(map.get($breakpoints, "lg"))
    width: 100%
    padding: 50px 15px 0 15px

  div
    &:first-child
      width: 250px
      height: 25px
      margin-bottom: 15px
      position: relative
      background-color: #1c1a1a

      @include responsive(map.get($breakpoints, "lg"))
        width: 150px
        height: 30px
        margin: 0 auto 30px auto

      &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite

    &:nth-child(2)
      width: 500px
      height: 130px
      margin-bottom: 20px
      position: relative
      background-color: #1c1a1a

      @include responsive(map.get($breakpoints, "lg"))
        width: 100%
        height: 200px
        margin-bottom: 30px

      &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite

    &:last-child
      width: 230px
      height: 20px
      position: relative
      background-color: #1c1a1a

      @include responsive(map.get($breakpoints, "lg"))
        width: 230px
        height: 30px
        margin: 0 auto

      &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite

.more_loading
  width: 120px

  display: flex
  flex-direction: column
  align-items: center
  gap: 5px

  position: absolute
  bottom: 30px
  right: 130px

  @include responsive(map.get($breakpoints, "lg"))
    width: 150px
    right: 50%
    transform: translateX(50%)
    gap: 15px

  div
    &:first-child
      width: 120px
      height: 155px
      position: relative
      border-radius: 10px
      background-color: #1c1a1a

      @include responsive(map.get($breakpoints, "lg"))
        width: 150px
        height: 190px

      &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite
      
    &:last-child
      width: 95px
      height: 20px
      position: relative
      border-radius: 3px
      background-color: #1c1a1a

      @include responsive(map.get($breakpoints, "lg"))
        width: 120px
        height: 35px

      &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite
      
@keyframes loading 
    from
        width: 0%
    
    to
        width: 100%
