@use "../abstracts/variables" as *
    
@mixin bg-img 
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    filter: brightness(60%)
    

@mixin border-radius($direction)
    border-top-#{$direction}-radius: $primary-border-radius
    border-bottom-#{$direction}-radius: $primary-border-radius

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center
