@mixin bg-img 
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    filter: brightness(65%)

@mixin border-right-radius
    border-bottom-right-radius: 10px
    border-top-right-radius: 10px
