$primary-color: #fff

$primary-bg: #000
$secondary-bg: #0F0F0F
$header-bg: #FF1744

$primary-font: 'poppins'
$secondary-font: 'bebas'
$movie-data-font: 'inter'
$logo-font: 'nasalization'
$release-date-font: 'oswald'

$primary-font-size: 13px
$secondary-font-size: 37px

$primary-letter-spacing: 1px
$secondary-letter-spacing: 2px
$movie-data-letter-spacing: .5px

$header-height: 75px

$primary-border-radius: 10px

$background-width: 100vw
$background-height: 100vh

$poster-width: 215px
$poster-height: 280px

$smooth-slide: 0.4s ease

@font-face 
    font-family: 'poppins'
    src: url('/fonts/poppins/Poppins-Regular.ttf')


@font-face 
    font-family: 'bebas'
    src: url('/fonts/bebas_neue/BebasNeue-Regular.ttf')


@font-face 
    font-family: 'inter'
    src: url('/fonts/inter/Inter-Regular.otf')


@font-face 
    font-family: 'oswald'
    src: url('/fonts/oswald/Oswald-Medium.ttf')

@font-face 
    font-family: 'nasalization'
    src: url('/fonts/nasalization1/Nasalization.otf')
