$primary-color: #fff
$primary-bg: #000
$primary-font: 'poppins'
$primary-font-size: 13px
$primary-letter-spacing: 1px

$header-height: 75px

@font-face 
    font-family: 'poppins'
    src: url('/fonts/poppins/Poppins-Regular.ttf')


@font-face 
    font-family: 'bebas'
    src: url('/fonts/bebas_neue/BebasNeue-Regular.ttf')


@font-face 
    font-family: 'inter'
    src: url('/fonts/inter/Inter-Regular.otf')


@font-face 
    font-family: 'oswald'
    src: url('/fonts/oswald/Oswald-Medium.ttf')
