$primary-color: #fff

$primary-bg: #000
$secondary-bg: #0F0F0F

$primary-font: 'poppins'
$secondary-font: 'bebas'
$movie-data-font: 'inter'

$primary-font-size: 13px
$secondary-font-size: 37px

$primary-letter-spacing: 1px
$secondary-letter-spacing: 2px
$movie-data-letter-spacing: .5px

$header-height: 75px

$primary-border-radius: 10px

$background-width: 100vw
$background-height: 100vh

$poster-width: 215px
$poster-height: 280px

// $logo-width:

$smooth-slide: 0.4s ease

// TESTES PRA DEFINIR A MELHOR

$font1: 'nasalization' 
$font2: 'neo'
$font3: 'relidux'
$font4: 'bord'

@font-face 
    font-family: 'poppins'
    src: url('/fonts/poppins/Poppins-Regular.ttf')


@font-face 
    font-family: 'bebas'
    src: url('/fonts/bebas_neue/BebasNeue-Regular.ttf')


@font-face 
    font-family: 'inter'
    src: url('/fonts/inter/Inter-Regular.otf')


@font-face 
    font-family: 'oswald'
    src: url('/fonts/oswald/Oswald-Medium.ttf')

// TESTES PRA DEFINIR A MELHOR

@font-face 
    font-family: 'nasalization'
    src: url('/fonts/nasalization1/Nasalization.otf')


@font-face 
    font-family: 'neo'
    src: url('/fonts/neo_sci_fi2/neo_scifi.ttf')


@font-face 
    font-family: 'relidux'
    src: url('/fonts/relidux3/Relidux.otf')


@font-face 
    font-family: 'bord'
    src: url('/fonts/bord4/Bord.ttf')
