@use "../../styles/abstracts/variables" as *
  
.media_section
  min-height: calc(100vh - 30px) // screen height minus footer height
  padding: $header-height 30px 50px 30px

  color: white
  background-color: #0F0F0F