@use "../../styles/abstracts/variables" as *
  
.cast_item
  display: flex
  gap: 15px
  align-items: center

.cast_img_wrapp
  width: 50px
  height: 50px

  overflow: hidden
  border-radius: 50%
  background-color: #040404

  img
    width: 100%
    height: 100%
    object-fit: cover
    background-color: #040404

.cast_name_wrapp
  display: flex
  flex-direction: column
  gap: 5px

  p
    font-family: $movie-data-font
    font-size: 13px

    &:first-child
      color: #ffffff82

    &:last-child
      color: #fffffff0
