@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
    
.movies_page
    min-height: calc(100vh - 30px) // screen height minus footer height
    padding: $header-height 0px 50px 0px

    color: white
    background-color: #0F0F0F

.movies_title_container
    margin: 60px 0 50px 0
    @include flex-center
    user-select: none

    svg
        margin-bottom: 2px
        font-size: 21px

.movies_title_wrapp
    padding: 3px 25px

    @include flex-center
    gap: 8px
    
    border-top: 5px solid white
    border-top-style: inset
    border-bottom: 5px solid white 
    border-bottom-style: inset
    border-image: url("/fundo-border-header.png")
    border-image-repeat: repeat
    border-image-slice: 70

    span
        width: 30px
        height: 1px
        border-radius: 5px
        background-color: #ffffffab

        &:first-child
            margin-right: 10px

        &:last-child
            margin-left: 10px

.movies_title
    font-size: 27px
    font-family: $secondary-font
    letter-spacing: 2px
    font-weight: normal
