// O QUE EU QUERO -> BUSCAR DADOS DE FILMES DE UMA API (TMDB)
    // COMO EU FAÇO ISSO / QUAL É A MELHOR FORMA DE FAZER ISSO

// EU CONSIGO UTILIZAR SERVER COMPONENT PARA FAZER UM FETCH EM UMA API
// DA PRA UTILIZAR SERVER ACTIONS PARA ISSO

// ONDE EU COLOCO (QUE ARQUIVO E QUAL NOME) A SOLICITAÇÃO QUE EU FIZER PARA A API

// MELHOR FORMA DE BUSCAR UMA API NO NEXTJS
// EU USO O FETCH EM UM SERVER OU CLIENT COMPONENT (QUAL MAIS EFICIENTE)

    // como colocar a obtenção de dados em um arquivo diferente 

@use "../../styles/abstracts/_variables" as *
        
.home_section
    width: 100vw
    height: 100vh

    position: absolute

.background_fixed
    width: 100%
    height: 100%
    // height: $header-height

.poster_fixed
    padding: 15px 0 15px 15px;
        
    position: absolute
    left: 50px
    bottom: 50px

    overflow-x: hidden