.loading
    padding: 80px 0px

    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 50px

    place-items: center
    position: relative

    background-color: #1c1a1a

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite

.skeleton_card
    width: 600px
    height: 230px

    display: flex
    position: relative
    overflow: hidden

    border-radius: 40px

    background-color: #080808

.skeleton_img_wrapp
    width: 170px
    height: 230px

    flex-shrink: 0
    background-color: black
    position: relative

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite
            

.skeleton_data_container
    display: flex
    flex-direction: column
    justify-content: center
    gap: 15px

.skeleton_info_container
    padding: 0 20px
    
    div
        &:first-child
            width: 200px
            height: 30px
            margin-bottom: 15px
            position: relative

            background-color: black

            &::after
                width: 0%
                height: 100%

                content: ""
                position: absolute
                inset: 0

                transform-origin: left

                background: #ffffff03
                animation: loading 1s linear infinite

        &:last-child
            width: 380px
            height: 90px
            position: relative

            background-color: black

            &::after
                width: 0%
                height: 100%

                content: ""
                position: absolute
                inset: 0

                transform-origin: left

                background: #ffffff03
                animation: loading 1s linear infinite

.skeleton_genres_container
    width: 200px
    height: 25px
    position: relative

    border-bottom-right-radius: 5px
    border-top-right-radius: 5px

    background-color: black

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite

.skeleton_release_container
    width: 100px
    height: 30px

    position: absolute
    top: 15px
    right: -15px
    transform: rotateZ(30deg)

    border-radius: 8px
    background-color: black

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        inset: 0

        transform-origin: left

        background: #ffffff03
        animation: loading 1s linear infinite

@keyframes loading 
    from
        width: 0%
    
    to
        width: 100%
