@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
@use "../../styles/abstracts/breakpoints" as *
    
.header
    width: 100vw
    height: $header-height

    position: fixed

    z-index: 2

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        top: 0
        z-index: -1

        filter: opacity(75%)
        background-color: #000

        transition: .5s

        @include responsive(map-get($breakpoints, "lg"))
            display: none

    &.scrolled::after
        width: 100%

    @include responsive(map-get($breakpoints, "lg"))
        width: 230px
        height: 100vh

        left: -230px

        background-color: rgba(0, 0, 0, 0.948)
        transition: .2s

.menu_btn
    display: none

    @include responsive(map-get($breakpoints, "lg"))
        display: block
        position: fixed
        top: 50px
        left: 35px
        cursor: pointer
        background-color: transparent

.menu_bar
    @include responsive(map-get($breakpoints, "lg"))
        width: 2.25rem
        height: 0.188rem

        background-color: white

    &:not(:last-child)
        margin-bottom: 0.313rem

.nav
    height: 100%

.nav_list
    height: 100%
    padding-top: 15px

    display: flex
    align-items: center
    justify-content: space-evenly

    z-index: 1

    @include responsive(map-get($breakpoints, "lg"))
        height: 100%
        padding: 200px 0px 0px 0px

        display: block

.base_page_link_btn
    width: 90px
    height: 30px

    @include flex-center

    position: relative
    overflow: hidden

    font-size: $primary-font-size
    font-family: $primary-font
    letter-spacing: $primary-letter-spacing

    border-radius: $primary-border-radius
    color: $primary-color
    
    span
        height: 100%

        @include flex-center
        position: absolute
        right: 0

        overflow: hidden
        transition: .3s

        &:first-child
            width: 100%
            z-index: 1
            border-radius: 5px

            @include responsive(map-get($breakpoints, "lg"))
                justify-content: flex-start
                right: -25px

        &:last-child
            width: 0%
            z-index: 0

            @include responsive(map-get($breakpoints, "lg"))
                padding-left: 25px
                justify-content: flex-start

            svg
                font-size: 18px

                @include responsive(map-get($breakpoints, "lg"))
                    font-size: 21px

    @include responsive(map-get($breakpoints, "lg"))
        width: 100%
        height: 50px

        display: flex
        align-items: center

        font-size: 14px

        border-radius: 0px
        color: white

.page_link_btn
    &:hover
        transform: scale(1.1)

        span
            &:first-child
                width: 0%
                z-index:0

            &:last-child
                width: 100%
                z-index:1
                background-color: $header-bg

        @include responsive(map-get($breakpoints, "lg"))
            transform: scale(1)

// Estilo Interativo

.selected
    transform: scale(1.1)

    span
        &:first-child
            width: 0%
            z-index: 0

        &:last-child
            width: 100%
            z-index: 1
            border-radius: 5px
            background-color: $header-bg

            svg
                font-size: 18px

                @include responsive(map-get($breakpoints, "lg"))
                    font-size: 21px

    @include responsive(map-get($breakpoints, "lg"))
        transform: scale(1)

.show
    left: 0px

.transform
    div
        &:first-child
            transform: translateY(12px) rotate(-45deg);

        &:nth-child(2)
            width: 0
            
        &:last-child
            transform: translateY(-4px) rotate(45deg)
