@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
    
.header
    width: 100vw
    height: $header-height

    position: fixed

    z-index: 2

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        top: 0
        z-index: -1

        filter: opacity(75%)
        background-color: #000

        transition: .5s

    &.scrolled::after
        width: 100%
        

.nav
    height: 100%

.nav_list
    height: 100%
    padding-top: 15px

    display: flex
    align-items: center
    justify-content: space-evenly

    z-index: 1

.nav_item
    a
        width: 90px
        height: 30px

        @include flex-center

        position: relative
        overflow: hidden

        font-size: $primary-font-size
        font-family: $primary-font
        letter-spacing: $primary-letter-spacing

        border-radius: $primary-border-radius
        color: $primary-color

        &:hover
            transform: scale(1.1)

            span
                &:first-child
                    width: 0%
                    z-index:0

                &:last-child
                    width: 100%
                    z-index:1
                    background-color: $header-bg

        span
            height: 100%

            @include flex-center
            position: absolute
            right: 0

            overflow: hidden
            transition: .3s

            &:first-child
                width: 100%
                z-index: 1
                border-radius: 5px

            &:last-child
                width: 0%
                z-index: 0

                svg
                    font-size: 18px
