@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
    
.header
    width: 100vw
    height: $header-height

    position: fixed

    z-index: 1

    &::after
        width: 0%
        height: 100%

        content: ""
        position: absolute
        top: 0
        z-index: -1

        filter: opacity(75%)
        background-color: #000

        border-top: 5px solid white
        border-top-style: inset
        border-bottom: 5px solid white 
        border-bottom-style: inset
        border-image: url("/fundo-border-header.png")
        border-image-repeat: repeat
        border-image-slice: 70

        transition: .5s

    &.scrolled::after
        width: 100%
        

.nav
    height: 100%

.nav_list
    height: 100%
    padding-top: 15px

    display: flex
    align-items: center
    justify-content: space-evenly

    z-index: 1

.nav_item
    a
        width: 90px
        height: 30px

        @include flex-center

        position: relative
        overflow: hidden

        font-size: $primary-font-size
        font-family: $primary-font
        letter-spacing: $primary-letter-spacing

        border-radius: $primary-border-radius
        color: $primary-color

        &:hover
            transform: scale(1.1)

            span
                &:first-child
                    width: 0%
                    z-index:0

                &:last-child
                    width: 100%
                    z-index:1
                    background-color: $header-bg

        span
            transition: .5s

            &:first-child
                width: 100%
                height: 100%

                @include flex-center

                position: absolute
                right: 0
                overflow: hidden
                z-index: 1

                border-radius: 5px

            &:last-child
                width: 0%
                height: 100%

                @include flex-center

                position: absolute
                right: 0
                overflow: hidden
                z-index: 0

                svg
                    font-size: 18px
