@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *

.background_fixed
    width: $background-width
    height: $background-height
    
.slider_container
    display: flex

    transition: $smooth-slide

.movie_wrapp_item
    flex: 0 0 $background-width
    height: $background-height

    position: relative

.movie_img
    width: 100%
    height: 100%

    @include bg-img

.movie_info_container
    position: absolute
    top: 170px
    left: 0

    color: $primary-color

.movie_title
    margin: 0 0 20px 30px

    font-family: $secondary-font
    font-size: $secondary-font-size
    letter-spacing: $secondary-letter-spacing

.movie_data
    min-height: 30px
    padding: 5px 20px

    display: inline-flex
    align-items: center
    gap: 20px

    font-family: $movie-data-font
    font-size: $primary-font-size
    letter-spacing: $movie-data-letter-spacing

    @include border-radius(right)
    
    background-color: $secondary-bg

.movie_rate
    display: flex
    align-items: center
    gap: 1px

    svg
        width: 13px
        height: 12px

        margin-bottom: .5px

        fill: yellow

.movie_genres
    display: flex
    gap: 10px
