@use "../../styles/abstracts/variables" as *
@use "../../styles/abstracts/mixins" as *
@use "../../styles/abstracts/breakpoints" as *
@use "sass:map"

.background_fixed
    width: 100vw
    height: 100vh
    overflow: hidden
    
.slider_container
    display: flex

    transition: $smooth-slide

.movie_wrapp_item
    flex: 0 0 100vw
    height: 100vh

    position: relative
    background-color: #1c1a1a

.movie_img
    width: 100%
    height: 100%

    object-fit: cover
    filter: brightness(45%)

.movie_info_container
    position: absolute
    top: 170px
    left: 0

    color: $primary-color

    @include responsive(map.get($breakpoints, "lg"))
        top: 150px

.movie_title
    margin: 0 0 20px 30px

    font-family: $secondary-font
    font-size: $secondary-font-size
    letter-spacing: $secondary-letter-spacing

    @include responsive(map.get($breakpoints, "lg"))
        margin: 0 0 20px 15px
        font-size: 29px

.movie_data
    min-height: 30px
    padding: 5px 20px

    display: inline-flex
    align-items: center
    gap: 20px

    font-family: $movie-data-font
    font-size: $primary-font-size
    letter-spacing: .5px

    @include border-radius(right)
    
    background-color: $secondary-bg

    @include responsive(map.get($breakpoints, "lg"))
        font-size: 12px

.movie_rate
    display: flex
    align-items: center
    gap: 1px

    svg
        width: 13px
        height: 12px

        fill: yellow

.movie_genres
    display: flex
    gap: 10px
