@use "../../styles/abstracts/variables" as *
    
.trailer_section
    padding: 60px 0px

    position: relative
    
    display: flex
    align-items: center
    justify-content: center

    background-color: $card-bg

    iframe
        width: 850px
        height: 450px
        background-color: #080808
