.loading
    padding: 60px 0px

    position: relative
    
    display: flex
    align-items: center
    justify-content: center

    background-color: #1c1a1a

.skeleton_trailer_wrapp
    width: 850px
    height: 450px

    background-color: #080808

.bow
    width: 100%
    height: 61px

    position: absolute
    top: -61px
    left: 0

    background-color: #1c1a1a
    border-radius: 50% 50% 0 0 / 90% 90% 0 0;
